.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}
.grid-item {
    background-color: lightblue;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.navmenu {
    grid-column: 1 / span 3;
    grid-row: 1;
    background-color: rgba(220, 226, 226, 0.87);
    border: solid 1px black;
}


.main-image {
    grid-column: 1 / span 3;
    grid-row: 2;
    background-color: rgba(220, 226, 226, 0.87);
    border: solid 1px black;
}

.main {
    grid-column: 1 / span 2;
    grid-row: 3;
    background-color: rgba(220, 226, 226, 0.87);
    border: solid 1px black;
}


.main1 {
    grid-column: 1 / span 2;
    grid-row: 3;
    background-color: rgba(220, 226, 226, 0.87);
    border: solid 1px black;
}

.support1 {
    grid-column: 1 / span 1;
    grid-row: 4;
    background-color: rgba(220, 226, 226, 0.87);
    border: solid 1px black;
}

.support2 {
    grid-column: 2 / span 1;
    grid-row: 4;
    background-color: rgba(220, 226, 226, 0.87);
    border: solid 1px black;
}

.main2 {
    grid-column: 1 / span 2;
    grid-row: 5; 
    background-color: rgba(220, 226, 226, 0.87);
    border: solid 1px black;
}

.sidenav {
    grid-column: 3;
    grid-row: 3 / span 3;
    background-color: rgba(220, 226, 226, 0.87);
    border: solid 1px black;
}


.nav {
    list-style-type: none;
    margin-left: 30%;
    margin-right: 30%;
}


.nav a {
    color: #020202;
    padding: 25px 25px;
    text-decoration: none;
    font-size: 20px;
    float: left;
}