.red {
    text-align: center;
    font-size: 150%;
    color: red;

}

.top {
    background-color: rgba(216, 211, 211, 0.774);
}

.nav {
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 35%;
    padding-right: 35%;
    overflow: hidden;
    text-align: center;
}

.nav a {
    float: left;
    display: block;
    color: #020202;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    font-size: 17px;
}

#funny {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    font-style: italic;
    letter-spacing:0.6cm;
    text-align: center;
}

.bold {
    text-align: center;
    font-weight: bold;
}

table {
    margin-left: auto;
    margin-right: auto; 
}

#test {
    width: 200px;
    height: 150px;
}

table, th, td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
  }