table, th, td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
  }

h3, form {
  text-align: center;
}

.title {
  background-color: rgb(202, 200, 200);
}

h1, h2 {
  margin-left: 1cm;
  margin-bottom: 0.2 cm;
  margin-top: 0.2 cm;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

